.footer {
  background-image: url('../public/brick.png');
  background-repeat: repeat;
  background-size: contain; /* or use `32px` if it's a pixel tile */
  color: white;
  font-family: 'Press Start 2P', monospace;
  font-size: 0.6rem;
  text-align: center;
  text-shadow: 1px 2px  #000;
  padding: 1rem 0;
  border-top: 4px solid;
  border-color: #ffffff #666666 #666666 #ffffff;
  image-rendering: pixelated;
}
