@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0000;
  padding: auto 2rem;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.header.hidden {
  transform: translateY(-100%);
} 

.header a {
  text-decoration: none;
}

@keyframes retroColorCycle {
  0%   { color: #ffae00; }
  50%  { color: #865c07; }
  100%   { color: #ffae00; }
}

.title-container {
  margin-left: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  font-family: 'Press Start 2P', monospace;
  image-rendering: pixelated;
}

.title {
  font-family: 'Press Start 2P', monospace;
  font-size: 1rem;
  color: #fff;
  text-shadow: 4px 2px  #000;
  margin: 0; 
  animation: retroColorCycle 3s infinite;
}


/* Nav Button Container */
.nav-buttons {
  display: flex;
  gap: 1rem;
}

/* --- Retro Border Style --- */
.pixel-border {
  border-bottom: 4px solid #666666;
  image-rendering: pixelated;
}

/* Pixel Button Style */
.pixel-button {
  border: 3px solid;
  border-color: #ffffff #666666 #666666 #ffffff;
  background-color: #fcc101;
  color: #053080;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s ease;
  image-rendering: pixelated;
  margin-right: 1rem;
}

.pixel-button:hover {
  transform: translate(1px, 1px);
  border-color: #cccccc #333333 #333333 #cccccc;
}

.pixel-button:active{
  transform: translate(2px, 2px);
  border-color: #0a0a0a #e2dbdb #d1c7c7 #000000;
}



